@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    font-family: "Pretendard Variable";
    word-break: keep-all;
}

.mr16 {
    margin-right: 16px;
}

.wrap {
    width: 83.333vw;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
}
.product img {
    max-width: 100%;
}


.product {
    width: 388px;
}

.text {
    padding: 24px 24px 0;
    text-align: center;
}

.product .badge p {
    font-size: 16px;
    font-weight: 500;
    color: #666;
    line-height: 100%;
}

.product .main {
    font-size: 24px;
    color: #000;
    margin-top: 10px;
    font-weight: 700;
    line-height: 133.333%;
}

.product p {
    font-size: 20px;
    color: #000;
    margin-top: 6px;
    line-height: 140%;
}


@media (max-width: 1023px) {
    .wrap img {
        max-width: 100%;
    }
    .wrap {
        
        flex-wrap: wrap;
        gap: 30px 15px;
        padding: 0 24px;
    }

    .product {
        max-width: 100%;
    }

    .mr16 {
        margin-right: 0;
    }

    .product .badge p {
        font-size: 16px;
    }
    
    .product .main {
        font-size: 18px;
    }
    
    .product p {
        font-size: 16px;
    }

  }

@media (max-width: 767px) {

}